<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>17/04/24 16:46:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestWithMaven.beforeTest()[pri:0, instance:mavenpack.TestWithMaven@3e6fa38a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>17/04/24 16:46:41</td>   <td>5098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWithMaven.test()[pri:0, instance:mavenpack.TestWithMaven@3e6fa38a]">test</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>17/04/24 16:46:42</td>   <td>6783</td> <td>&nbsp;</td><td title="&lt;&lt;TestWithMaven.afterTest()[pri:0, instance:mavenpack.TestWithMaven@3e6fa38a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
</table>
